* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

p {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.profile-img {
    width: 1000px;  /* Adjust the width as needed */
    height: auto;
    border-radius: 10%;  /* Makes the image circular */
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.paypal-button {
    background-color: #0070ba;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
}

.paypal-button:hover {
    background-color: #005490;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
